<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/lunbo.css">
    <script src="js/lunbo.js"></script>
    <script src="js/animate1.js"></script>
</head>
<body>
    <div class="box">
        <ul>
            <li><img src="images/focus.jpg" alt=""></li>
            <li><img src="images/focus1.jpg" alt=""></li>
            <li><img src="images/focus2.jpg" alt=""></li>
            <li><img src="images/focus3.jpg" alt=""></li>
            <!-- <li><img src="images/timg.jpg" alt=""></li> -->
        </ul>
        <ol>
            <!-- <li></li>
            <li></li>
            <li></li> -->
        </ol>
        <div class="btn1"><</div>
        <div class="btn2">></div>
    </div>
</body>
</html>